flake8
black
flake8-black
flake8-docstrings
flake8-annotations

flake8-bugbear
flake8-pie
flake8-simplify
flake8-class-attributes-order
flake8-commas
flake8-comprehensions
flake8-return
flake8-builtins
flake8-variables-names
pep8-naming
flake8-annotations-complexity
flake8-cognitive-complexity
flake8-expression-complexity
flake8-comments
flake8-eradicate
flake8-todo
